body {  
  margin: 0;
  background-color: #f0f2f5; /* Gris claro similar al fondo de Facebook */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.center {
  width: 300px;
  text-align: center;
}

.pickers{
  width: 300px;
  text-align: center;
}
.App {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto de la ventana */
}